*{
    margin:0;
    padding:0;
}

body{
    
    background-color:rgb(159, 121, 123);
    text-align:center;

}

.container{

    height:70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    font-size:8vmin;
    color:red;
    background-color:lightyellow ;
    
}

#resetGame{
    padding: 1rem;
    font-size: 1rem;
    background-color:#191913;
    color:white;
    border:none;
    border-radius: 1rem;
}
    

.msg-container{
    height:90vmin;
    align-items:center ;
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:4rem;
   
}

#newBtn{
    padding: 1rem;
    font-size: 1rem;
    background-color:green;
    color:white;
    border:none;
    border-radius: 1rem;

}

#msg{
    font-size: 6vmin;
    color:#ffff7c;

}

.hide{
    display: none;
}  

